.topban {
    background-color: #474747;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  }
  
  .topbana {
    float: center;
    color: #000000;
    text-align: center;
    padding: 10px;
    margin: 0;
    text-decoration: none;
    font-size: 15px;
  }

.bannera{
    text-decoration: none;
    color: #ffffff;
  }
  
  .bannera:hover{
    text-decoration: underline;
    color: #cfcfcf;
  }